<p style="color: green"><%= notice %></p>

<%= render @game, involved_company_dev: @involved_company_dev, 
                  involved_company_pub: @involved_company_pub, critic: @critic %>

<div>
  <%= link_to "Back", games_path %>
</div>
